<h1>Hello, world!</h1>
<p>This is amazing web application. Our mission is changing the world!! This is amazing web application. Our mission is changing
	the world!! This is amazing web application. Our mission is changing the world!!</p>
<a href="/login" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Getting Started</a>