 
<form method="post" action="/login"  >  
        Account:<br>
        <input type="text" id="account" name="account"><br>
        Password:<br>
        <input type="password" id="Password"  name="Password">
        <input type="submit" value="Submit">
</form>
 